html {
    font-family: 'AvenirNextCondensed-DemiBold';
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h3 {
	margin: 0;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  font-size: 16px;  
}

.feedItem {
	width: calc(100% - 130px);
}

.blur-effect {
  -webkit-filter: blur(60px) grayscale(50%);

  /* Recede */
  -webkit-transform: scale(0.9);
}

input[type=search] {
  border-radius: 20px;
  border-right: none;
  border: 2px solid transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-backface-visibility: hidden;
  text-indent: 10px;
  -webkit-appearance: none;
  padding-left: 7px;
}

input[type=search]:focus {
  outline: -webkit-focus-ring-color 0;
  padding: 5px 10px;  
}


